In [13]:
import pickle as pkl
import pandas as pd
import os
import matplotlib.pyplot as plt
from sqlalchemy import inspect, create_engine, Table, Column, Integer, String, MetaData, ForeignKey, Float, String
%matplotlib inline

In [15]:
url="postgres://sewvruorrtosre:18e12e147936685fbe0457023044da5a2b27f8bc2b4dbc30939991fc5bde9331@ec2-54-83-4-76.compute-1.amazonaws.com:5432/d6ale5gnp4lumm"

First, we need some generic incantations in order to tell python which database we want to read, connect with that database, and then create objects 'conn' and 'metadata' which SqlAlchemy will want to see in various commands.

In [31]:
# engine=create_engine('postgresql://williamcottrell72:Weishenme72?@localhost:5432/travelapp',pool_pre_ping=True)
engine=create_engine(url)
metadata=MetaData()

In [22]:
table=Table('san_francisco_user_data',metadata,
           Column('id',Integer,primary_key=True),
           Column('name',String),
           Column('nature',Float),
           Column('history',Float),
           Column('culture',Float),
           Column('life',Float))

In [32]:
conn=engine.connect()
metadata.reflect(bind=engine)

In [ ]:
metadata

In [27]:
metadata.create_all(engine)

In [28]:
site_index=pkl.load(open('good_data/San_Francisco/site_index.pkl','rb'))

In [29]:
def add_column(engine,table_name,column):
    column_name=column.compile(dialect=engine.dialect)
    column_type=column.type.compile(engine.dialect)
    engine.execute('ALTER TABLE %s ADD COLUMN %s %s' % (table_name,column_name,column_type))
    
for site in site_index:
    column=Column(site,String)
    add_column(engine,'san_francisco_user_data',column)

To see what tables are in the database we can run either of the following two commands:

In [33]:
inspector = inspect(engine)

# Get table information
print(inspector.get_table_names())

['test', 'user_data', 'san_francisco_user_data']

To see what columns we have available run:

In [35]:
# Get column information
cols=inspector.get_columns('san_francisco_user_data')
# print(cols)

In [22]:
#Get a particular table
user_table=metadata.tables['san_francisco_user_data']

#This user table is a rather unwieldly datastructure, but it can 
#be used for I/O and inspection as follows.

#1.  Inser a row "uservector" into the database.  Here "uservector"
# should be formatted as uservector={column1_name: value1, column2_name: value2...}

conn.execute(user_table.insert(),[uservector])

#2. See everything in user table
select_st=user_table.select()
res=conn.execute(select_st)

#3. Delete everything where the value of 'columname' is 'target'

del_st=user_table.delete().where(user_table.c.columnname=='target')
res=conn.execute

In [26]:
#For more readability we may want to work with a pandas dataframe.

df=pd.read_sql_table('user_data',conn)
df.head()

,index,nature,history,culture,life,Alcatraz Island,Golden Gate Bridge,Lombard Street,Pier 39,Fisherman's Wharf,...,Bank of Italy building,California Hall,Camellia Garden,Abraham Lincoln Monument,BAPS Shri Swaminarayan Mandir,Phoenix Gallery,Gallery of Ethnic Art,Wolf Ridge Loop,McLellan Botanicals,Redwood Empire Association
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can also go the other way; if we have a dataframe we can create a sql table as follows:

In [ ]:
# df.to_sql('table_name',conn)

In [10]:
1+1

2

In [21]:
dct=pkl.load(open('important_items.pkl','rb'))

new_dct={}

for k in dct[0].keys():
    vals=dct[0][k]
    for val in vals:
        new_dct[val]=k
    
with open('proxy_dct.pkl','wb') as f:
    pkl.dump(new_dct,f)